#home-div {
  display: block;
  width: 75%;
}

#intro-div {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}

#intro-div p:first-child {
  margin-top: 0;
}

#profile-pic {
  width: 300px;
  border-radius: 50%;
  border: 1px solid var(--accent);
  margin-left: 50px;
}

#icons {
  display: flex;
  flex-direction: row;
}

.icon {
  color: var(--hoverColor);
  font-size: 25px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
  margin-top: 10px;
}

.icon svg {
  margin-top: -12.5px;
  width: 48px;
  height: 48px;
  fill: var(--accent);
}

.icon path {
  fill: var(--accent);
}

.ai-icon {
  font-size: 35px;
  margin-top: 7px;
}

.icon:hover {
  cursor: pointer;
}

.ai-cv {
  margin-top: -1.5px;
}

@media only screen and (max-width: 1325px) {
  #home-div {
    width: 100%;
  }
  #profile-pic {
    width: 320px;
  }
}

@media only screen and (max-width: 1025px) {
  #profile-pic {
    width: 275px;
  }
   .icon {
    font-size: 20px;
  }
  .ai-icon {
    font-size: 28px;
  }
  .icon svg {
    width: 38px;
    height: 38px;
    margin-top: -10px;
  }
  #text-and-icons p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 900px) {
  #intro-div {
    flex-direction: column-reverse;
    align-items: center;
  }
  #profile-pic {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 200px;
  }
  #icons {
    justify-content: center;
  }
  .icon {
    margin-right: 12.5px;
    margin-left: 12.5px;
  }
  #text-and-icons {
    display: flex;
    flex-direction: column-reverse;
  }
  #intro-div p:first-child {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .icon {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .icon {
    margin-right: 7px;
    margin-left: 7px;
  }
  #text-and-icons {
    width: 330px;
  }
}