#hidden-name {
  display: none;
}

#menu-div {
  width: 25%;
}

#menu-div a {
  display: block;
  text-decoration: none;
  color: dimgrey;
  transition: color 200ms linear;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-left: -10px;
}

#menu-div a:hover {
  color: black;
  transition: color 200ms linear;
}

.active-page {
  color: black !important;
  font-weight: bold;
  border-left: solid 1px var(--accent);
}

@media only screen and (max-width: 1325px) {
  #menu-div {
    width: 100%;
    display: flex;
    align-items: center;
  }
  #menu-div a {
    margin: 0px 10px;
    padding: 0;
  }
  .active-page {
    border: none;
    border-bottom: solid 1px var(--accent);
  }
  #menu-div h1 {
    border-right: solid 1px var(--accent);
    padding-right: 30px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 900px) {
  #menu-div {
    justify-content: center;
  }
  #menu-div h1 {
    width: 100%;
    border: none;
  }
  #menu-div a {
    margin: 0;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 780px) {
  #menu-div h1 {
    font-size: 1rem;
  }
  #menu-div a {
    font-size: 0.9rem;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 620px) {
  #menu-div h1 {
    font-size: 0.9rem;
  }
  #menu-div a {
    font-size: 0.8rem;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 550px) {
  #hidden-name {
    display: block;
    text-align: center;
  }
  #hidden-name h1 {
    font-size: 1rem;
    margin: 0px;
  }
  #menu-div h1 {
    display: none;
  }
  #menu-div a {
    font-size: 0.8rem;
    margin-left: 10px;
  }
  #menu-div {
    margin-bottom: 1rem;
  }
}